.schedule {
  display: grid;
  grid-template-rows: 47px auto;
  grid-gap: 10px;
  grid-area: s;
  margin-top: 1vh;
  border-radius: 3px;
  margin-right: 16px;
}

.schedule div {
  background: #FFFFFF;

}

.head {
  display: flex;
  align-items: center;
  padding: 16px;
}

.menu {
  display: flex;
}

.menu__item {
  margin-right: 32px;
  font-style: normal;
}

.menu__item span {
  color: rgba(45, 40, 94, 0.56);
}

.menu__item a {
  color: #1E99C7;
  transition: 0.3s;
  font-size: 16px;
  line-height: 24px;
}

.calendar {
  margin-left: auto;
  color: #1E99C7;
  font-size: 16px;
  line-height: 16px;
}

.calendar i {
  font-size: 20px;
}

.calendar span {
  padding-left: 20px;
  padding-right: 20px;
}

.league_card__head {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgba(53, 57, 66, 0.25);
}

.league_card__title {
  font-size: 16px;
  line-height: 24px;
  color: #353942;
  margin-left: 1.8vw;
}

.league_card__info {
  display: flex;

}

.league_board {
  padding-bottom: 4vh;
}

.container {
  padding: 0.5%;
}

.league__flag {
  width: 27px;
  margin-left: 5px;
}

.groups i {
  cursor: pointer;
  color: rgba(196, 196, 196, 0.25);
  float: right;
  margin-right: 8px;
  transform: 0.3s;
}

.groups i:hover {
  color: #FFC700;
}

.time {
  color: rgba(53, 57, 66, 0.5);
  font-weight: normal;
  text-align: center;
  width: 5%;
  padding: 5px 5px 0px 5px;
  font-size: 1rem;
  border-right: 1px solid rgba(53, 57, 66, 0.25);
}

.groups {
  color: #1E99C7;
  padding: 5px 5px 0px 12px;
  width: 60%;
  border-right: 1px solid rgba(196, 196, 196, 0.25);
}

.status {
  color: rgba(53, 57, 66, 0.5);
  font-weight: normal;
  width: 20%;
  font-size: 1rem;
  padding: 5px 5px 0px 12px;
  border-right: 1px solid rgba(53, 57, 66, 0.25);
}

.moreInf {
  color: #1E99C7;
  padding: 12px;
  width: 15%;
  padding: 5px 5px 0px 12px;
}


@media only screen and (max-width: 900px) {
  .schedule {
    margin-right: 0;
  }

  .calendar span {
    display: none;
  }

  .status {
    display: none;
  }

  .moreInf {
    display: none;
  }

  .time {
    width: 80px;

  }

  .groups {
    width: 100%;
  }

  .menu__item,
  .menu__item span {
    font-size: 12px;
  }

  .menu__item {
    margin-right: 3.2vw;
  }

  .league_card__title {
    margin-left: 38px;
  }

  .schedule {
    margin-top: 3%;
  }
}