.list {
  font-size: 13px;
  line-height: 20px;
  padding: 5%;
  font-weight: normal; 
}

.list__item {
  margin-bottom: 13px;
  transition: 0.5s ease;
}

.list__item a:hover {
  color: rgb(209, 225, 240);
}

.title {
  padding: 14px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #FFFFFF;
}


