* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background: #E5E5E5;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.app {
  display: grid;
  grid-template-columns: 16% auto;
  grid-auto-rows: (100px, auto);
  grid-template-areas: 
  "n n"
  "m s"
  "m s";
  grid-gap: 17px;
  margin-bottom: 20px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

a:hover {
  color: #353942;
}

@media only screen and (max-width: 900px) { 
  .title {
    display: none;
  }
  .app {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: (100px, auto);
    grid-template-areas: "n" "s" "s";
  }
}